<h3>
  Hello Informatics Team,
</h3>

<p>
  An alteration to the Project Code for <%= @project.title %> has occured.
  The new code is <%= @project.project_code %>.
</p>

<p>
  You may wish to review this Project Code.
</p>

<p>
  Many thanks,<br>
  Labs
</p>
