<div class="page-header">
  <h1>Editing server</h1>
</div>

<%= button_to 'Show', @server, method: :get, class: "btn primary" %> |
<%= button_to 'Back', servers_path, method: :get, class: "btn primary" %>

<%= render 'form' %>


