<div class="page-header">
  <h1>Listing Servers</h1>
</div>

<div class="btn-group">
  <%= button_to 'New Server', new_server_path, method: :get, class: "btn btn-primary" %>
  <%= button_to 'Soft-Deleted Servers', deleted_list_servers_path, method: :get, class: "btn btn-primary", id: "deleted_list" %>
</div>

<%= render 'table' %>
