<div class="page-header">
  <h1>Listing Projects Instances</h1>
</div>

<div class="btn-group">
  <%= button_to 'New Project Instance', new_project_instance_path, method: :get, class: "btn btn-primary" %>
  <%= button_to 'Soft-Deleted Project Instances', deleted_list_project_instances_path, method: :get, class: "btn btn-primary", id: "deleted_list" %>
</div>

<div class="btn-group pull-right">
  <%= button_to 'Download all', project_instances_path(format: "csv"), method: :get, class: "btn btn-default" %>
</div>

<%= render 'table' %>
