slack_token: XXXXXXXXXX
slack_exception_notification_token: XXXXXXXXXX

development:
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  slack_notification_webhook_url: ''

test:
  secret_key_base: XXXXXXXXXX

staging:
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  slack_notification_webhook_url: ''

production:
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  slack_notification_webhook_url: XXXXXXXXXX
