# Details for the below keys are in LastPass under Shared Folders > Labs (secure note)
# Also see the note for more information on what each key does

slack_token: XXXXXXXXXX 

common: &common
  api_token: XXXXXXXXXX
  employees_endpoint_url: XXXXXXXXXX
  github_api_base_url: XXXXXXXXXX 
  nagios_list_url: XXXXXXXXXX
  slack_notification_webhook_url: XXXXXXXXXX

  # Below keys are used for the KPIs page as well as individual project pages
  codebase_api_username: XXXXXXXXXX 
  codebase_api_key: XXXXXXXXXX
  travis_token: XXXXXXXXXX
  github_personal_access_token: XXXXXXXXXX 
  snyk_token : XXXXXXXXXX # TODO - not in place yet - see Kpis::SnykStatisticsImporter comment for more information

development:
  <<: *common
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  github_webhook_secret: XXXXXXXXXX
  callback_url: XXXXXXXXXX

test:
  <<: *common
  secret_key_base: XXXXXXXXXX

staging:
  <<: *common
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  github_personal_access_token: XXXXXXXXXX 
  callback_url: XXXXXXXXXX

production:
  <<: *common
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  callback_url: XXXXXXXXXX
