slack_token: XXXXXXXXXX
slack_exception_notification_token: XXXXXXXXXX

development:
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  slack_channel_notification_token: ''

test:
  secret_key_base: XXXXXXXXXX
  slack_channel_notification_token: ''

staging:
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  slack_channel_notification_token: ''

production:
  secret_key_base: XXXXXXXXXX
  github_key: XXXXXXXXXX
  github_secret: XXXXXXXXXX
  slack_channel_notification_token: XXXXXXXXXX
