/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require bootswatch
 */

body {
  margin-top: 70px;
}

#search-box { text-align: right; }  

footer {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 2px solid #33B5E5;
}

div.project {
  border: 0 none;
  padding: 0;
  margin: 10px 0px;
  text-align: center;
}

div.project-header {
	padding-bottom: 60px;
}

div.project-header h1 {
	display: inline-block;
	position: relative;
	top: 25px;
}

div.project-header a {
	float: right;
}

.button_to,
.button_to div {
  display: inline;
}

.btn-group { margin-bottom: 20px}


.gravatar-round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.unpublished-project h3, .unpublished-project a {
  color: #777;
}

.unpublished-project a:hover {
  color: #fff;
}

/*
div.project p {
  color: gray;
}
div.project p a{
  color: black;
}

ul.media-grid li a{
  background-color: #eeeeee;
}

.clear {
  clear:both;
}
span.project_image {
  background: no-repeat scroll 50% 50% #FFFFFF;
  height: 200px;
  width: 280px;
  margin: 0 0 10px;
  overflow: hidden;
  text-indent: -999px;
  display: block;
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  padding: 4px;
}

[class*="span"] {
  display: inline;
  float: left;
  margin-left: 20px;
          }


dt { padding: 10px 0px; }    

#s2id_groupSelect, .select2-input, .select2-container, .select2-search-field, .select2-choices {
width: 358px;
}

.actions { padding-top: 20px;}    






.search-results-text h3 {
  color: #33B5E5;
}

*/
