/* Use import to require files as not to clash with bootstrap gem */

@import "main";
@import "comments";
@import "project";
@import "reviews";
@import "domains";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "bootswatch";
@import "bootstrap-datepicker3";
@import "font-awesome";
@import "dataTables.bootstrap";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(#{$icon-font-path}#{$icon-font-name}.ttf) format('truetype');
  src: url(#{$icon-font-path}#{$icon-font-name}.eot?#iefix)
  format('embedded-opentype'),
  url(#{$icon-font-path}#{$icon-font-name}.woff) format('woff'),
  url(#{$icon-font-path}#{$icon-font-name}.ttf) , format('truetype'),
  url(#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id})
  format('svg');
}
