#search-box { text-align: right; }

footer {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 2px solid #33B5E5;
}

.button_to,
.button_to div {
  display: inline;
}

.btn-group { margin-bottom: 20px}

.gravatar-round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.unpublished-product h3, .unpublished-product a {
  color: #777;
}

.unpublished-product a:hover {
  color: #fff;
}

.isClosing {
  color: green ;
}

.isOpen {
  color: red;
}

.error-block {
  display: none;
  color: red;
}

.products_filter {
  width: auto;
  padding: 0px;
  margin: 0 0 0 -20px;
  height: 30px;
}

.tooltip-inner{
  max-width: 500px !important;
}

#commentModal .modal-backdrop {
  z-index: 0;
}

.header__logo {
  display: block;
  text-indent: -9999px;
  width: 115px;
  height: 38px;
  background: url(https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+white.svg);
  background-size: 115px 38px;
}

.navbar-brand {
  padding: 10px 15px !important;
}
