div.project {
  border: 0 none;
  padding: 0;
  margin: 10px 0px;
  text-align: center;
}

div.project-header {
	padding-bottom: 120px;
}

div.project-header a {
	float: left;
	margin: 0 80px 0 0;
}

div.project-header div.btn-group {top: 100px}

.badge_link {
	margin-left: 15px;
}
