<% if @errored_repos %>
  <div class="alert alert-danger">
    <p>Some products couldn't be created, here's why:<p>
    <ul>
      <% @errored_repos.each do |repo| %>
        <% repo.errors.full_messages.each do |msg| %>
          <li><%= repo.title %>: <%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>